*{
  box-sizing:border-box;
}
body{
  margin-top:20px;
  background:#dfedcb;
}
.nav ul{
  margin-left:300px;
  width:700px;
  text-align:center;
  padding:20px;
  box-shadow:4px 4px 8px gray;
  border-radius:50px;
  position:fixed;
  top:10px;
  background:#fcafaf;
}
.nav ul li{
              display:inline;
}
.nav ul li a{
text-decoration:none;
color:#000;
font-size:25px;
padding:6px 15px;
margin-right:20px;
transition:.5s;
}
.nav ul li a:hover{
color:#fff;
background:red;
border-radius:10px;
}
@media only screen and (max-width:600px){
  body{
    margin-top: 0;
  }
  .nav ul{
      margin-top: 0;
      margin-left:0;
      width:100%;
      padding: 15px;
      border-radius: 0;
    }
    .nav ul li a{
      font-size:22px;
      margin-right:0px;

    }
  }
  @media only screen and (max-width:450px){
    .nav ul{
      padding: 10px;
      }
      .nav ul li a{
        font-size: 20px;
      }
  }

  @media only screen and (max-width:420px){
    .nav ul{
      padding: 4px;
      }
      .nav ul li a{
        font-size: 18px;
      }
  }
